<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>filecontent</title>
</head>
<body>
    <div class="background w-full text-100 pl-10 min-h-screen bg-zinc-900 pt-10">
        <a href="/" class="text-blue-600 font-impact">Home</a>
        <h1 class="font-serif text-4xl tracking-tighter text-white pt-5">
            <%= fname %>
        </h1>
        <p class="font-montserrat pt-3 text-zinc-200">
            <%= filecontent %>
        </p>
    </div>
    
</body>
</html>